@import url("./whitespace-reset.css");

.user_input_form {
  display: none;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.user_input_form h2 {
  font-size: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
}

.user_input_form label {
  padding: 20px 10px 0 0;
  font-weight: bold;
}

.user_input_form li input {
  display: inline-block;
  float: right;
  width: 70%;
  margin-left: 20px;
  margin: 10px 0;
}

.user_input_form ul {
  width: 60%;
  margin: 0 auto;
}

#banner {
  color: #fff;
  text-align: center;
  background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
  box-sizing: border-box;
  padding: 30px;
}

#banner p {
  font-size: 20px;
  font-weight: 300;
  color: #cdbfe3;
}

#content {
  margin: 0 auto;
  padding: 20px;
  width: 90%;
  box-sizing: border-box;;
}

#content li {
  display: inline-block;
  float: left;
  width: 25%;
}

#content ul:after {
  display: block;
  clear: both;
  content: '';
}

#content li h3 {
  font-size: 26px;
  margin-bottom: 20px;
}

#content dt {
  font-weight: bold;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial sans-serif;
  font-size: 14px;
}

footer {
  width: 90%;
  text-align: center;
  margin: 70px auto 0 auto;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

fieldset {
  border: none;
}

footer a {
  color: #428bca;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  padding: 20px 0 10px 0;
}

input {
  font-size: 14px;
  padding: 10px;
  border: solid 1px #ccc;
  border-radius: 4px;
}

li label {
  float: right;
}

li:after {
  display: block;
  clear: both;
  content: '';
}

nav {
  width: 90%;
  margin: 0 auto;
  background-color: #f5f5f5;
  border: 1px solid #d6d6d6;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
  height: 100px;
  text-align: center;
}

nav a,
#no_contacts a,
#create_contact a,
button,
.button_holder a {
  color: #002b70;
  display: inline-block;
  padding: 10px;
  border: 1px solid #002b70;
  border-radius: 6px;
}

nav a:hover,
#no_contacts a:hover,
#create_contact a:hover,
button:hover,
.button_holder a:hover {
  background-color: #563d7c;
  color: #fff;
}

nav li {
  margin-top: 30px;
  float: left;
  width: 50%;
}

#no_contacts {
  margin: 0 auto;
  text-align: center;
  height: 120px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}
