@import url("./whitespace-reset.css");

/*general*/
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

h1 {
  text-decoration: none;
  color: #fff;
  font-size: 36px;
  padding-bottom: 10px;
}

h2 {
  font-size: 30px;
  margin: 20px auto 20px auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2efed;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

input,
button,
a.cancel_form,
a.add_contact {
  display: inline-block;
  height: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 8px;
  box-sizing: border-box;
}

button,
a.cancel_form,
a.add_contact {
  height: 2.5rem;
  padding-top: 10px;
}

button:hover,
a.cancel_form:hover,
a.add_contact:hover {
  background-color: #563d7c;
  color: #fff;
}

button {
  background-color: #fff;
  font-size: 1rem;
  margin-bottom: -5px;
  padding-top: 0;
}

footer,
nav {
  width: 900px;
  margin: 0 auto;
}

/*header*/
header {
  background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
  height: 100px;
  text-align: center;
  padding-top: 20px;
}

header a {
  color: #fff;
}

header p {
  color: #cdbfe3;
  font-size: 20px;
  font-weight: 300;
}

/*nav*/
nav {
  background-color: #f5f5f5;
  padding-top: 20px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

nav li {
  text-align: center;
  display: inline-block;
  width: 33%;
  height: 70px;
  float: left;
}

nav .tag_list_point p {
  float: left;
}

nav ul:after {
  display: block;
  clear: both;
  content: '';
}

/*main*/

main {
  width: 880px;
  margin: 0 auto;
}

section {
  text-align: center;
}

dl {
  margin: 0 auto;
  width: 80%;
}

dl:after {
  display: block;
  clear: both;
  content: '';
}

dd {
  float: right;
  height: 3rem;
  display: inline-block;
  width: 50%;
  margin-right: 50px;
}

dd input {
  width: 100%;
}

dt {
  font-weight: bold;
  text-align: right;
  padding-top: 5px;
  height: 3rem;
  width: 30%;
  display: inline-block;
  box-sizing: border-box;
}

#no_contacts {
  text-align: center;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding-top: 20px;
  background-color: #f5f5f5;
  height: 120px;
  border-radius: 6px;
  box-sizing: border-box;
}

/*footer*/

footer {
  margin-top: 25px;
  padding-top: 15px;
  text-align: center;
  border-top: 1px solid #f2efed;
}
